<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="relax">
    
    <xacro:include filename="$(find relax_urdf)/urdf/config/relax.urdf.xacro" />
    
    <group name="base">
        <link name="base_link"/>
    </group>


<xacro:if value="${RELAX_MOBILE_BASE}">
    <group name="left_wheel">
        <chain base_link="mobile_base_link" tip_link="left_wheel" />
    </group>
    
    <group name="right_wheel">
        <chain base_link="mobile_base_link" tip_link="right_wheel" />
    </group>
</xacro:if>

<xacro:if value="${RELAX_ARM}">
    
    <xacro:if value="${RELAX_MOBILE_BASE}">
        <group name="arm">
            <chain base_link="mobile_base_link" tip_link="relax_link5" />
        </group>
    </xacro:if>
    
    <xacro:unless value="${RELAX_MOBILE_BASE}">
        <group name="arm">
            <chain base_link="base_link" tip_link="relax_link5" />
        </group>
    </xacro:unless>
</xacro:if>


<group name="chains"> <!--THIS HAS TO BE THE LAST GROUP IN THE FILE -->
    <xacro:if value="${RELAX_MOBILE_BASE}">
        <group name="right_wheel" />
        <group name="left_wheel" />
    </xacro:if>

    <xacro:if value="${RELAX_ARM}">
        <group name="arm" />
    </xacro:if>
    
</group>
</robot>
