<launch>

    <arg name="rviz" default="true" />
    <arg name="markers" default="true" />
    <arg name="is_model_floating_base" default="false" /> <!-- set to false if only arm is controlled by xbot -->

    <arg name="gdb" default="false"/> <!-- for debug with gdb -->
    <arg if="$(arg gdb)" name="prefix" value="gdb -ex run --arg" />
    <arg unless="$(arg gdb)" name="prefix" value="" />

	<!-- robot description -->
	<param name="robot_description" textfile="$(find relax_urdf)/urdf/relax_arm.urdf"/>
	<param name="robot_description_semantic" textfile="$(find relax_srdf)/srdf/relax_arm.srdf"/>
    <param name="cartesian/problem_description" textfile="$(find relax_cartesio)/relax_arm_stack.yaml"/>

    <!-- launch cartesian interface -->
    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <!-- Control frequency (Hz) -->
        <arg name="rate" value="100.0"/>
        <!-- Spawn RviZ interacrive markers -->
        <arg name="markers" value="$(arg markers)"/>
        <!-- Set to false for fixed base  -->
        <arg name="is_model_floating_base" value="$(arg is_model_floating_base)"/>

        <arg name="prefix" value="$(arg prefix)"/>
    </include>

    <!-- show in rviz -->
	<node if="$(arg rviz)" type="rviz" name="rviz_ci" pkg="rviz" args="-d $(find relax_cartesio)/relax.rviz"/>

</launch>
