<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- relax arm -->
<xacro:include filename="$(find relax_urdf)/urdf/parts/relax_arm.urdf.xacro" />

<!-- TODO: in wheels.urdf.xacro base link properties are defined, they should be shift into another file -->
<xacro:include filename="$(find relax_urdf)/urdf/parts/wheels.urdf.xacro" />

<xacro:include filename="$(find relax_urdf)/urdf/parts/common_base_properties.urdf.xacro" />

<!-- arms -->
<xacro:relax_arm arm_num="1" >
   </xacro:relax_arm>

<!-- sensor ring (optionally) -->
<xacro:if value="${TERAFLEX_RING}" > <!-- teraflex - ring -->
    <xacro:include filename="$(find relax_urdf)/urdf/parts/teraflex_ring.urdf.xacro"/>
    <xacro:teraflex_ring id="1" parent_link="relax_arm1_link5">
        <origin xyz=" 0.0 0.142500 -0.0881600 " rpy="-1.5707963 -0.6404992 0" />
    </xacro:teraflex_ring>
</xacro:if>


<xacro:unless value="${RELAX_MOBILE_BASE}">
  <link name="base_link">
    <xacro:box_inertial mass="${mir_base_mass}" x="${mir_base_inertial_x_length}" y="${mir_base_inertial_y_length}" z="${mir_base_inertial_z_length}">
        <origin xyz="${mir_base_inertial_x + mir_act_wheel_dx} ${mir_base_inertial_y} ${mir_base_inertial_z}" rpy="0 0 0" />
    </xacro:box_inertial>
    <visual>
        <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_grey"/>
    </visual>
    <collision>
        <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl"  scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
        <material>Gazebo/DarkGrey</material>
  </gazebo>
</xacro:unless>      

<!-- end_effector attached -->
<!-- <xacro:if value="${ADD_END_EFFECTOR}">
      <xacro:include filename="$(find relax_urdf)/urdf/parts/end_effector.urdf.xacro" />

      <xacro:end_effector arm_num="1"  parent_link="arm1_7">
                  <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      </xacro:end_effector>

      <xacro:end_effector arm_num="2"  parent_link="arm2_7">
                  <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      </xacroend_effector>
</xacro:if> -->

</robot>
