<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- relax arm -->
<xacro:include filename="$(find relax_urdf)/urdf/parts/relax_arm.urdf.xacro" />

<!-- TODO: in wheels.urdf.xacro base link properties are defined, they should be shift into another file -->
<xacro:include filename="$(find relax_urdf)/urdf/parts/wheels.urdf.xacro" />

<xacro:include filename="$(find relax_urdf)/urdf/parts/common_base_properties.urdf.xacro" />

<xacro:property name="arm_num" value="1" />

<!-- *********************************************************************** arm **************************************************************** -->
<xacro:relax_arm arm_num="${arm_num}" />

<!-- ******************************************************************* mobile base **************************************************************** -->
<xacro:unless value="${RELAX_MOBILE_BASE}">
  <link name="base_link">
    <xacro:box_inertial mass="${mir_base_mass}" x="${mir_base_inertial_x_length}" y="${mir_base_inertial_y_length}" z="${mir_base_inertial_z_length}">
        <origin xyz="${mir_base_inertial_x + mir_act_wheel_dx} ${mir_base_inertial_y} ${mir_base_inertial_z}" rpy="0 0 0" />
    </xacro:box_inertial>
    <visual>
        <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_grey"/>
    </visual>
    <collision>
        <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl"  scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
        <material>Gazebo/DarkGrey</material>
  </gazebo>
</xacro:unless>      

<!-- ******************************************************************* end_effector  **************************************************************** -->
<xacro:if value="${END_EFFECTOR == 'none'}">
    <!-- nothing to do -->
</xacro:if>

<xacro:if value="${END_EFFECTOR == 'ball'}">
	<xacro:include filename="$(find relax_urdf)/urdf/parts/ball.urdf.xacro" />

	<xacro:ball_end_effector arm_num="${arm_num}"  parent_link="relax_arm${arm_num}_linkEndEffector">
		      <origin xyz="0 0 0.02" rpy="0. ${PI} 0."/>
	</xacro:ball_end_effector>
</xacro:if>

<xacro:if value="${END_EFFECTOR == 'dagana_fixed'}">
	<xacro:include filename="$(find dagana_urdf)/urdf/dagana_macro.urdf.xacro" />

	<xacro:dagana_gripper name="dagana_${arm_num}" parent_link="relax_arm${arm_num}_linkEndEffector" joint_type="fixed">
		<origin xyz="0. 0 0" rpy="0. 0 0"/>
	</xacro:dagana_gripper>
	  
</xacro:if>

<xacro:if value="${END_EFFECTOR == 'dagana'}">
	<xacro:include filename="$(find dagana_urdf)/urdf/dagana_macro.urdf.xacro" />

	<xacro:dagana_gripper name="dagana_${arm_num}" parent_link="relax_arm${arm_num}_linkEndEffector" joint_type="revolute">
		<origin xyz="0. 0 0" rpy="0. 0 0"/>
	</xacro:dagana_gripper>
</xacro:if>


</robot>
