<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!-- ARM -->

<!-- Joint 1 -->
<xacro:property name="Joint_1_damp" value="  0.2 "/>
<xacro:property name="Joint_1_fric" value=" 10.0 "/>

<!-- Joint 2 -->
<xacro:property name="Joint_2_damp" value="  0.2 "/>
<xacro:property name="Joint_2_fric" value=" 10.0 "/>

<!-- Joint 3 -->
<xacro:property name="Joint_3_damp" value="  0.2 "/>
<xacro:property name="Joint_3_fric" value=" 10.0 "/>

<!-- Joint 4 -->
<xacro:property name="Joint_4_damp" value="  0.2 "/>
<xacro:property name="Joint_4_fric" value=" 10.0 "/>

<!-- Joint 5 -->
<xacro:property name="Joint_5_damp" value="  0.2 "/>
<xacro:property name="Joint_5_fric" value=" 10.0 "/>

</robot>
