<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- links -->
<link name ="fake_link" />  <!-- fake link -->
<joint name="fake_joint" type="fixed"> <!-- fake joint -->
    <parent link="fake_link"/>
    <child link="relax_link1"/>
    <origin xyz="0 0 0" rpy="3.1415927 0 0"/>
</joint>  
  
</robot>
