<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find relax_urdf)/urdf/parts/common_base_properties.urdf.xacro" />
  <xacro:include filename="$(find relax_urdf)/urdf/gazebo/imu.gazebo.urdf.xacro" />
  <xacro:include filename="$(find relax_urdf)/urdf/gazebo/mir.gazebo.xacro" />
  <xacro:include filename="$(find relax_urdf)/urdf/parts/mir.transmission.xacro" />
  <xacro:include filename="$(find relax_urdf)/urdf/parts/sick_s300.urdf.xacro" />

  <xacro:include filename="$(find relax_urdf)/urdf/parts/wheels.urdf.xacro" />
  
  <xacro:property name="laser_dx" value="0.315" />
  <xacro:property name="laser_dy" value="0.205" />
  
  <xacro:property name="laser_dz" value="0.1914" />


  <xacro:macro name="mir" params="prefix">
    <link name="${prefix}base_footprint" />

    <joint name="${prefix}base_joint" type="fixed">
      <parent link="${prefix}base_footprint" />
      <child link="${prefix}base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}base_link">
      <xacro:box_inertial mass="${mir_base_mass}" x="${mir_base_inertial_x_length}" y="${mir_base_inertial_y_length}" z="${mir_base_inertial_z_length}">
        <origin xyz="${mir_base_inertial_x + mir_act_wheel_dx} ${mir_base_inertial_y} ${mir_base_inertial_z}" rpy="0 0 0" />
      </xacro:box_inertial>
      <visual>
        <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <xacro:insert_block name="material_dark_grey" />
      </visual>
      <collision>
        <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl"  scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${prefix}base_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  <!-- Depth Camera -->
 <material name="D435i_camera_aluminum">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <!-- camera body, with origin at bottom screw mount -->
  <joint name="D435i_camera_joint" type="fixed">
    <origin rpy="0 0.0 0" xyz="0.1 0 0.3815997"/>
    <parent link="${prefix}base_link"/>
    <child link="D435i_camera_bottom_screw_frame"/>
  </joint>
  <link name="D435i_camera_bottom_screw_frame"/>
  <joint name="D435i_camera_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0175 0.0125"/>
    <parent link="D435i_camera_bottom_screw_frame"/>
    <child link="D435i_camera_link"/>
  </joint>
  <link name="D435i_camera_link">
    <visual>
      <origin rpy="1.57079632679 0 1.57079632679" xyz="0.0149 -0.0175 0"/>
      <geometry>
        <!-- <box size="${d435i_cam_width} ${d435i_cam_height} ${d435i_cam_depth}"/> -->
        <mesh filename="package://realsense2_description/meshes/d435.dae"/>
        <!--<mesh filename="package://realsense2_description/meshes/d435/d435.dae"/>-->
      </geometry>
      <material name="D435i_camera_aluminum"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.0175 0"/>
      <geometry>
        <box size="0.02505 0.09 0.025"/>
      </geometry>
    </collision>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="1e-5"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257"/>
    </inertial>
  </link>
  <!-- camera depth joints and links -->
  <joint name="D435i_camera_depth_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="D435i_camera_link"/>
    <child link="D435i_camera_depth_frame"/>
  </joint>
  <link name="D435i_camera_depth_frame"/>
  <joint name="D435i_camera_depth_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="D435i_camera_depth_frame"/>
    <child link="D435i_camera_depth_optical_frame"/>
  </joint>
  <link name="D435i_camera_depth_optical_frame"/>
  <!-- camera left IR joints and links -->
  <joint name="D435i_camera_left_ir_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0 0"/>
    <parent link="D435i_camera_depth_frame"/>
    <child link="D435i_camera_left_ir_frame"/>
  </joint>
  <link name="D435i_camera_left_ir_frame"/>
  <joint name="D435i_camera_left_ir_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="D435i_camera_left_ir_frame"/>
    <child link="D435i_camera_left_ir_optical_frame"/>
  </joint>
  <link name="D435i_camera_left_ir_optical_frame"/>
  <!-- camera right IR joints and links -->
  <joint name="D435i_camera_right_ir_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 -0.05 0"/>
    <parent link="D435i_camera_depth_frame"/>
    <child link="D435i_camera_right_ir_frame"/>
  </joint>
  <link name="D435i_camera_right_ir_frame"/>
  <joint name="D435i_camera_right_ir_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="D435i_camera_right_ir_frame"/>
    <child link="D435i_camera_right_ir_optical_frame"/>
  </joint>
  <link name="D435i_camera_right_ir_optical_frame"/>
  <!-- camera color joints and links -->
  <joint name="D435i_camera_color_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.015 0"/>
    <parent link="D435i_camera_depth_frame"/>
    <child link="D435i_camera_color_frame"/>
  </joint>
  <link name="D435i_camera_color_frame"/>
  <joint name="D435i_camera_color_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="D435i_camera_color_frame"/>
    <child link="D435i_camera_color_optical_frame"/>
  </joint>
  <link name="D435i_camera_color_optical_frame"/>
  <!-- camera accel joints and links -->
  <joint name="D435i_camera_accel_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.00174 0.00552 0.0176"/>
    <parent link="D435i_camera_link"/>
    <child link="D435i_camera_accel_frame"/>
  </joint>
  <link name="D435i_camera_accel_frame"/>
  <joint name="D435i_camera_accel_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="D435i_camera_accel_frame"/>
    <child link="D435i_camera_accel_optical_frame"/>
  </joint>
  <link name="D435i_camera_accel_optical_frame"/>
  <!-- camera gyro joints and links -->
  <joint name="D435i_camera_gyro_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.00174 0.00552 0.0176"/>
    <parent link="D435i_camera_link"/>
    <child link="D435i_camera_gyro_frame"/>
  </joint>
  <link name="D435i_camera_gyro_frame"/>
  <joint name="D435i_camera_gyro_optical_joint" type="fixed">
    <origin rpy="-1.57079632679 0 -1.57079632679" xyz="0 0 0"/>
    <parent link="D435i_camera_gyro_frame"/>
    <child link="D435i_camera_gyro_optical_frame"/>
  </joint>
  <link name="D435i_camera_gyro_optical_frame"/>
  <gazebo reference="D435i_camera_link">
    <self_collide>0</self_collide>
    <enable_wind>0</enable_wind>
    <kinematic>0</kinematic>
    <!-- <gravity>1</gravity> -->
    <!--<mu>1</mu>-->
    <mu2>1</mu2>
    <fdir1>0 0 0</fdir1>
    <!--<slip1>0</slip1>
      <slip2>0</slip2>-->
    <kp>1e+13</kp>
    <kd>1</kd>
    <!--<max_vel>0.01</max_vel>
      <min_depth>0</min_depth>-->
    <sensor name="D435i_cameracolor" type="camera">
      <camera name="D435i_camera">
        <horizontal_fov>1.21125850088</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>RGB_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>False</visualize>
    </sensor>
    <sensor name="D435i_cameraired1" type="camera">
      <camera name="D435i_camera">
        <horizontal_fov>1.4870205227</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.05</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>90</update_rate>
      <visualize>false</visualize>
    </sensor>
    <sensor name="D435i_cameraired2" type="camera">
      <camera name="D435i_camera">
        <horizontal_fov>1.4870205227</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.05</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>90</update_rate>
      <visualize>false</visualize>
    </sensor>
    <sensor name="D435i_cameradepth" type="depth">
      <camera name="D435i_camera">
        <horizontal_fov>1.21125850088</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.100</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>false</visualize>
    </sensor>
    <sensor name="D435i_cameraaccel" type="imu">
      <always_on>true</always_on>
      <update_rate>300</update_rate>
      <topic>D435i/D435i_camera/accel/sample</topic>
      <plugin filename="librealsense_gazebo_accel_sensor.so" name="D435i/D435i_camera_accel_plugin">
        <topicName>D435i/D435i_camera/accel/sample</topicName>
        <bodyName>D435i_camera_link</bodyName>
        <updateRateHZ>300</updateRateHZ>
        <gaussianNoise>0.1</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>D435i_camera_accel_optical_frame</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
    <sensor name="D435i_cameragyro" type="imu">
      <always_on>true</always_on>
      <update_rate>300</update_rate>
      <topic>D435i_camera/gyro/sample</topic>
      <plugin filename="librealsense_gazebo_gyro_sensor.so" name="D435i/D435i_camera_gyro_plugin">
        <topicName>D435i/D435i_camera/gyro/sample</topicName>
        <bodyName>D435i_camera_link</bodyName>
        <updateRateHZ>300</updateRateHZ>
        <gaussianNoise>0.1</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>D435i_camera_gyro_optical_frame</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo>
    <plugin filename="librealsense_gazebo_plugin.so" name="D435i/D435i_camera">
      <prefix>D435i_camera</prefix>
      <!-- Color camera settings -->
      <colorUpdateRate>30</colorUpdateRate>
      <colorTopicName>color/image_raw</colorTopicName>
      <colorOpticalframeName>D435i_camera_color_optical_frame</colorOpticalframeName>
      <colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
      <!-- Infrared camera settings -->
      <infraredUpdateRate>90</infraredUpdateRate>
      <infrared1TopicName>infra1/image_rect_raw</infrared1TopicName>
      <infrared2TopicName>infra2/image_rect_raw</infrared2TopicName>
      <infrared1CameraInfoTopicName>infra1/camera_info</infrared1CameraInfoTopicName>
      <infrared2CameraInfoTopicName>infra2/camera_info</infrared2CameraInfoTopicName>
      <infrared1OpticalframeName>D435i_camera_left_ir_optical_frame</infrared1OpticalframeName>
      <infrared2OpticalframeName>D435i_camera_right_ir_optical_frame</infrared2OpticalframeName>
      <!-- Depth camera settings -->
      <rangeMinDepth>0.2</rangeMinDepth>
      <rangeMaxDepth>10.0</rangeMaxDepth>
      <depthUpdateRate>30</depthUpdateRate>
      <depthTopicName>depth/image_rect_raw</depthTopicName>
      <depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
      <depthOpticalframeName>D435i_camera_depth_optical_frame</depthOpticalframeName>
      <!-- Pointlcloud settings -->
      <pointCloud>True</pointCloud>
      <pointCloudTopicName>depth/color/points</pointCloudTopicName>
      <pointCloudCutoff>0.5</pointCloudCutoff>
    </plugin>
  </gazebo>


    <!-- IMU -->
    <joint name="${prefix}base_link_to_imu_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${prefix}imu_link" />
      <origin xyz="0.0 0.0 0.25" rpy="0 0 0" />  <!-- same as real MiR -->
    </joint>

    <link name="${prefix}imu_link" />

    <xacro:imu_gazebo link="${prefix}imu_link" imu_topic="imu_data" update_rate="50.0" />

    <!-- Create an alias for imu_link. This is necessary because the real MiR's
         TF has imu_link, but the imu_data topic is published in the imu_frame
         frame. -->
    <joint name="${prefix}imu_link_to_imu_frame_joint" type="fixed">
      <parent link="${prefix}imu_link" />
      <child link="${prefix}imu_frame" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}imu_frame" />

    <!-- Laser scanners -->
    <joint name="${prefix}base_link_to_front_laser_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${prefix}front_laser_link" />
      <origin xyz="${laser_dx + mir_act_wheel_dx} ${laser_dy} ${laser_dz}" rpy="0.0 0.0 ${0.25 * pi}" />
    </joint>
    <xacro:sick_s300 prefix="${prefix}" link="front_laser_link" topic="f_scan" />

    <joint name="${prefix}base_link_to_back_laser_joint" type="fixed">
      <parent link="${prefix}base_link" />
      <child link="${prefix}back_laser_link" />
      <origin xyz="${-laser_dx + mir_act_wheel_dx} ${-laser_dy} ${laser_dz}" rpy="0.0 0.0 ${-0.75 * pi}" />
    </joint>

    <xacro:sick_s300 prefix="${prefix}" link="back_laser_link" topic="b_scan" />

    <!-- Ultrasound sensors -->
    <joint name="${prefix}us_1_joint" type="fixed">   <!-- right ultrasound -->
      <parent link="${prefix}base_link" />
      <child link="${prefix}us_1_frame" />
      <origin xyz="0.45 -0.12 0.16 " rpy="0 0 0" />  <!-- from visually matching to the mesh of the MiR -->
    </joint>

    <link name="${prefix}us_1_frame" />

    <joint name="${prefix}us_2_joint" type="fixed">   <!-- left ultrasound -->
      <parent link="${prefix}base_link" />
      <child link="${prefix}us_2_frame" />
      <origin xyz="0.45 0.12 0.16 " rpy="0 0 0" />  <!-- from visually matching to the mesh of the MiR -->
    </joint>

    <link name="${prefix}us_2_frame" />

   
    <xacro:actuated_wheel prefix="${prefix}" locationprefix="left" locationright="-1"/>
    <xacro:actuated_wheel prefix="${prefix}" locationprefix="right" locationright="1"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="fl" locationright="-1" wheel_base_dx="${mir_front_caster_wheel_base_dx + mir_act_wheel_dx}"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="fr" locationright="1" wheel_base_dx="${mir_front_caster_wheel_base_dx + mir_act_wheel_dx}"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="bl" locationright="-1" wheel_base_dx="${-mir_back_caster_wheel_base_dx + mir_act_wheel_dx}"/>
    <xacro:caster_wheel prefix="${prefix}" locationprefix="br" locationright="1" wheel_base_dx="${-mir_back_caster_wheel_base_dx + mir_act_wheel_dx}"/>

    <joint name="${prefix}base_link_surface_joint" type="fixed">
      <origin xyz="${mir_act_wheel_dx} 0 0.352" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}surface" />
      <axis xyz="0 0 1" />
    </joint>

    <link name="${prefix}surface"/>

    <xacro:mir_wheel_transmissions prefix="${prefix}"/>

    <!-- set the gazebo friction parameters for the wheels -->
    <xacro:set_all_wheel_frictions prefix="${prefix}"/>

    <xacro:p3d_base_controller prefix="${prefix}" />
  </xacro:macro>
</robot>
