<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- links -->
<link name ="mobile_base_link">  <!-- mobile base link -->
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry name="mobile_base_link_visual">
        <mesh filename="package://relax_urdf/meshes/mir_base.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="dark"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry name="mobile_base_link_collision">
        <mesh filename="package://relax_urdf/meshes/mir_base.stl" scale="0.001 0.001 0.001" />
      </geometry>             
    </collision>
</link>  
  
<joint name="mobile_base_joint" type="fixed"> <!-- mobile base joint -->
    <parent link="mobile_base_link"/>
    <child link="relax_link1"/>
    <origin xyz="0 0 ${320.000*mmTom}" rpy="3.1415927 0 0"/>
</joint>  
  
</robot>
