<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
<xacro:include filename="$(find relax_urdf)/urdf/properties/inertial_properties.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/properties/kinematics_properties.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/properties/dynamic_properties.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/properties/limits.urdf.xacro" />

<xacro:include filename="$(find relax_urdf)/urdf/parts/relax_arm_macro.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/parts/relax_ee_macro.urdf.xacro" />

<xacro:arg name="x" default="0"/>
<xacro:arg name="y" default="0"/>
<xacro:arg name="z" default="0"/>

<xacro:property name="arm_num" value="1" />
   
<xacro:relax_arm arm_num="${arm_num}" parent_link="base_link" >
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="0 0 0"/>
</xacro:relax_arm>  

<xacro:relax_ee arm_num="${arm_num}" />    


</robot>
