<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!-- TERAFLEX RING -->
<!-- Sensor 0 -->
<xacro:property name="Joint_TF_S0_Ox" value=" -0.0622195 "/> 
<xacro:property name="Joint_TF_S0_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_TF_S0_Oz" value=" -0.1345334 "/>

<xacro:property name="Joint_TF_S0_Oroll" value=" 1.5708 "/>
<xacro:property name="Joint_TF_S0_Opitch" value=" 0.6405 "/>
<xacro:property name="Joint_TF_S0_Oyaw" value=" 3.1416 "/>

 <!-- Sensor 1 -->
<xacro:property name="Joint_S0_S1_Ox" value=" -0.0112049 "/> 
<xacro:property name="Joint_S0_S1_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S0_S1_Oz" value=" -0.1649568 "/>

<xacro:property name="Joint_S0_S1_Oroll" value=" 1.5708 "/>
<xacro:property name="Joint_S0_S1_Opitch" value=" 1.4259 "/>
<xacro:property name="Joint_S0_S1_Oyaw" value=" 3.1416 "/>

<!-- Sensor 2 -->
<xacro:property name="Joint_S1_S2_Ox" value=" 0.0463735 "/>  
<xacro:property name="Joint_S1_S2_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S1_S2_Oz" value=" -0.1503796 "/>

<xacro:property name="Joint_S1_S2_Oroll" value=" -1.5708 "/>
<xacro:property name="Joint_S1_S2_Opitch" value=" 0.9303 "/>
<xacro:property name="Joint_S1_S2_Oyaw" value=" 0.0 "/>

<!-- Sensor 3 -->
<xacro:property name="Joint_S2_S3_Ox" value=" 0.0767869 "/>  
<xacro:property name="Joint_S2_S3_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S2_S3_Oz" value=" -0.0993649 "/>

<xacro:property name="Joint_S2_S3_Oroll" value=" -1.5708 "/>
<xacro:property name="Joint_S2_S3_Opitch" value=" 0.1449 "/>
<xacro:property name="Joint_S2_S3_Oyaw" value=" 0.0 "/>

<!-- Sensor 4 -->
<xacro:property name="Joint_S3_S4_Ox" value=" 0.0622196 "/>
<xacro:property name="Joint_S3_S4_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S3_S4_Oz" value=" -0.0417865 "/>

<xacro:property name="Joint_S3_S4_Oroll" value=" -1.5708 "/>
<xacro:property name="Joint_S3_S4_Opitch" value=" -0.6405 "/>
<xacro:property name="Joint_S3_S4_Oyaw" value=" 0.0 "/>

<!-- Sensor 5 -->
<xacro:property name="Joint_S4_S5_Ox" value=" 0.0112049 "/>  
<xacro:property name="Joint_S4_S5_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S4_S5_Oz" value=" -0.0113731 "/>

<xacro:property name="Joint_S4_S5_Oroll" value=" -1.5708 "/>
<xacro:property name="Joint_S4_S5_Opitch" value=" -1.4259 "/>
<xacro:property name="Joint_S4_S5_Oyaw" value=" 0.0 "/>

<!-- Sensor 6 -->
<xacro:property name="Joint_S5_S6_Ox" value=" -0.0463735 "/>  
<xacro:property name="Joint_S5_S6_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S5_S6_Oz" value=" -0.0259404 "/>

<xacro:property name="Joint_S5_S6_Oroll" value=" 1.5708 "/>
<xacro:property name="Joint_S5_S6_Opitch" value=" -0.9303 "/>
<xacro:property name="Joint_S5_S6_Oyaw" value=" 3.1416 "/>

<!-- Sensor 7 -->
<xacro:property name="Joint_S6_S7_Ox" value=" -0.0767870 "/>  
<xacro:property name="Joint_S6_S7_Oy" value=" 0.142500 "/>
<xacro:property name="Joint_S6_S7_Oz" value=" -0.0769551 "/>

<xacro:property name="Joint_S6_S7_Oroll" value=" 1.5708 "/>
<xacro:property name="Joint_S6_S7_Opitch" value=" -0.1449 "/>
<xacro:property name="Joint_S6_S7_Oyaw" value=" 3.1416 "/>

</robot>
