<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="relax_arm">

<xacro:property name="model_name" value="RELAX ARM" />
<xacro:property name="model_version" value="1.0" />


<!-- command line arguments -->
<xacro:arg name="arm" default="true"/>
<xacro:arg name="base" default="false"/>
<xacro:arg name="floating_joint" default="false"/>
<xacro:arg name="end_effector" default="none"/> <!-- none, ball, dagana_fixed, dagana -->


<!-- ************SELECT PARTS*************-->
<!-- *************************************-->

<!-- ************FLOATING BASE*************-->
<xacro:property name="RELAX_FLOATING_BASE" value="$(arg floating_joint)" />
<xacro:property name="ADD_VIRTUAL_FRAME" value="false" />

<!-- ************ARM*************-->
<xacro:property name="RELAX_ARM" value="$(arg arm)" />
 
<!-- ************MOBILE BASE*************-->
<xacro:property name="RELAX_MOBILE_BASE" value="$(arg base)" />

<!--***************** CAMS **********-->
<xacro:property name="ADD_D435I_CONTROL_BOX" value="false" />

<!--***************** END EFFECTOR **********-->
<xacro:property name="END_EFFECTOR" value="$(arg end_effector)" />

 
</robot>
