<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="relax">

<xacro:property name="model_name" value="IIT RELAX" />
<xacro:property name="model_version" value="0.1" />

<!-- ************FLOATING BASE*************-->
<xacro:property name="RELAX_FLOATING_BASE" value="true" />

<!-- ************ARM*************-->
<xacro:property name="RELAX_ARM" value="true" />

<!-- ************FIXED BASE*************-->
<xacro:property name="RELAX_FIXED_BASE" value="false" />
 
<!-- ************MOBILE BASE*************-->
<xacro:property name="RELAX_MOBILE_BASE" value="true" />
 
  
</robot>
