<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="relax">

<xacro:property name="model_name" value="RELAX MIR250" />
<xacro:property name="model_version" value="1.0" />


<!-- command line arguments -->
<xacro:arg name="arm" default="false"/>
<xacro:arg name="base" default="true"/>
<xacro:arg name="floating_joint" default="false"/>

<!-- ************SELECT PARTS*************-->
<!-- *************************************-->

<!-- ************FLOATING BASE*************-->
<xacro:property name="RELAX_FLOATING_BASE" value="$(arg floating_joint)" />
<xacro:property name="ADD_VIRTUAL_FRAME" value="true" />

<!-- ************ARM*************-->
<xacro:property name="RELAX_ARM" value="$(arg arm)" />
 
<!-- ************MOBILE BASE*************-->
<xacro:property name="RELAX_MOBILE_BASE" value="$(arg base)" />

<!--***************** CAMS **********-->
<xacro:property name="ADD_D435I_CONTROL_BOX" value="false" />
 
</robot>
