<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- **** gazebo materials **** --> 
<gazebo reference="relax_arm1_link1">
  <material>Gazebo/Blue</material>
</gazebo>
<gazebo reference="relax_arm1_link2">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="relax_arm1_link3">
  <material>Gazebo/Blue</material>
</gazebo>
<gazebo reference="relax_arm1_link4">
  <material>Gazebo/Blue</material>
</gazebo>
<gazebo reference="relax_arm1_link5">
  <material>Gazebo/Blue</material>
</gazebo>
<gazebo reference="relax_arm1_link6">
  <material>Gazebo/Blue</material>
</gazebo>

</robot>
