<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- <gazebo reference="relax_link0">
  <material>Gazebo/Blue</material>
</gazebo> 
<gazebo reference="relax_link1">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="relax_link2">
  <material>Gazebo/Blue</material>
</gazebo>
<gazebo reference="relax_link3">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="relax_link4">
  <material>Gazebo/DarkGrey</material>
</gazebo>
<gazebo reference="relax_link5">
  <material>Gazebo/Blue</material>
</gazebo> -->

</robot>
