<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">    
    
<xacro:if value="${RELAX_MOBILE_BASE}">
    <gazebo reference="wheel_left">
        <material>Gazebo/DarkGrey </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.5</mu>
                        <mu2>0.5</mu2>
                    </ode>
                    <bullet>
                        <friction>0.5</friction>
                        <friction2>0.5</friction2>
                    </bullet>
                </friction>
                <contact>
                    <ode>
                        <kp>2100000</kp>
                        <kd>1</kd>
                        <max_vel>100</max_vel>
                    </ode>
                    <bullet>
                        <soft_cfm>0.007</soft_cfm>
                        <soft_erp>0.25</soft_erp>
                        <kp>1000000</kp>
                        <kd>5</kd>
                    </bullet>
                </contact>
            </surface>
        </collision>
    </gazebo>
    
    <gazebo reference="wheel_right">
        <material>Gazebo/DarkGrey </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.5</mu>
                        <mu2>0.5</mu2>
                    </ode>
                    <bullet>
                        <friction>0.5</friction>
                        <friction2>0.5</friction2>
                    </bullet>
                </friction>
                <contact>
                    <ode>
                        <kp>2100000</kp>
                        <kd>1</kd>
                        <max_vel>100</max_vel>
                    </ode>
                    <bullet>
                        <soft_cfm>0.007</soft_cfm>
                        <soft_erp>0.25</soft_erp>
                        <kp>1000000</kp>
                        <kd>5</kd>
                    </bullet>
                </contact>
            </surface>
        </collision>
    </gazebo>
    
    <gazebo reference="j_left_wheel">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>


    <gazebo reference="j_right_wheel">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>   
</xacro:if>

<!-- <gazebo reference="joint1">
	<implicitSpringDamper>1</implicitSpringDamper>
	<provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="joint2">
	<implicitSpringDamper>1</implicitSpringDamper>
	<provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="joint3">
	<implicitSpringDamper>1</implicitSpringDamper>
	<provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="joint4">
	<implicitSpringDamper>1</implicitSpringDamper>
	<provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="joint5">
	<implicitSpringDamper>1</implicitSpringDamper>
	<provideFeedback>true</provideFeedback>
</gazebo> -->

</robot>

