<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">    
    
<xacro:macro name="controller_plugin_gazebo" params="robot_namespace">
<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <xacro:unless value="${robot_namespace == ''}">
        <robotNamespace>${robot_namespace}</robotNamespace>
    </xacro:unless>
    <controlPeriod>0.001</controlPeriod>
    <legacyModeNS>false</legacyModeNS>
    </plugin>
</gazebo>
</xacro:macro>
    
<xacro:if value="${RELAX_ARM}">
    <gazebo reference="relax_arm1_joint1">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>
    <gazebo reference="relax_arm1_joint2">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>
    <gazebo reference="relax_arm1_joint3">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>
    <gazebo reference="relax_arm1_joint4">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>
    <gazebo reference="relax_arm1_joint5">
        <implicitSpringDamper>1</implicitSpringDamper>
        <provideFeedback>true</provideFeedback>
    </gazebo>
</xacro:if>

</robot>

