<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<gazebo>

    <plugin name="xbot2_joint_driver" filename="libxbot2_gz_joint_server.so">
        <ignore_joints>
            <joint_to_ignore name="left_wheel_joint"/>
            <joint_to_ignore name="right_wheel_joint"/>
            <joint_to_ignore name="bl_caster_rotation_joint"/>
            <joint_to_ignore name="bl_caster_wheel_joint"/>
            <joint_to_ignore name="br_caster_rotation_joint"/>
            <joint_to_ignore name="br_caster_wheel_joint"/>
            <joint_to_ignore name="fl_caster_rotation_joint"/>
            <joint_to_ignore name="fl_caster_wheel_joint"/>
            <joint_to_ignore name="fr_caster_rotation_joint"/>
            <joint_to_ignore name="fr_caster_wheel_joint"/>
        </ignore_joints>
        

        <pid>
            <!-- TODO -> CHANGE PARAMS              -->
            <gain name="lowpwr_mot" p="50"  d="5"/>
            <gain name="small_mot"  p="250"  d="18"/>
            <gain name="medium_mot" p="1000" d="37"/>
            <gain name="high_mot"   p="2000" d="50"/>
            <gain name="big_mot"    p="3000" d="10"/>
            <gain name="wheel_mot"  p="10" d="2"/>

            <pid name="relax_arm1_joint1" profile="high_mot"/>
            <pid name="relax_arm1_joint2" profile="high_mot"/>
            <pid name="relax_arm1_joint3" profile="high_mot"/>
            <pid name="relax_arm1_joint4" profile="high_mot"/>
            <pid name="relax_arm1_joint5" profile="high_mot"/>
            
        </pid>
    </plugin>
</gazebo>

</robot>
