<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- **** base attached to robot **** -->
<xacro:if value="${RELAX_FLOATING_BASE}">
	<link name="base_link"/>
	<joint name="base_joint" type="fixed">
    		<parent link="base_link"/>
    		<child link="relax_link1">
    		<origin xyz="0 0 0" rpy="0 0 0" />
	</joint>
</xacro:if>

<xacro:if value="${RELAX_FIXED_BASE}">
	<link name="base_link"/>
	<joint name="base_joint" type="fixed">
    		<parent link="base_link"/>
    		<child link="relax_link1"/>
    		<origin xyz="0 0 0" rpy="0 0 0" />
	</joint>
</xacro:if>

<!-- ********  attach robot  ******** -->
<xacro:include filename="$(find relax_urdf)/urdf/parts/arm.urdf.xacro" />  
  
</robot>
