<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="relax">

<!-- ********* relax gazebo ********* -->  
<xacro:arg name="floating_joint" default="false" />
  
<!-- **** attach urdf robot model **** -->
<xacro:include filename="$(find relax_urdf)/urdf/relax.urdf.xacro" />

<!-- **** attach robot gazebo **** -->
<xacro:include filename="$(find relax_urdf)/urdf/gazebo/relax.gazebo.xacro" />

<xacro:include filename="$(find relax_urdf)/urdf/gazebo/xbot.gazebo.xacro" />

<xacro:include filename="$(find relax_urdf)/urdf/gazebo/materials.gazebo.xacro" />

<xacro:unless value="${RELAX_MOBILE_BASE}" > <!-- fixed base -->
  	<link name="world"/>
   	<joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="relax_link1"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
  	</joint>
</xacro:unless>

</robot>
