<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find relax_urdf)/urdf/relax_utils.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/parts/inertial_properties.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/parts/kinematics_properties.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/parts/dynamic_properties.urdf.xacro" />
<xacro:include filename="$(find relax_urdf)/urdf/parts/limits.urdf.xacro" />
<!-- TODO: in wheels.urdf.xacro base link properties are defined, they should be shift into another file -->
<xacro:include filename="$(find relax_urdf)/urdf/parts/wheels.urdf.xacro" />

<xacro:include filename="$(find relax_urdf)/urdf/parts/common_base_properties.urdf.xacro" />

<!-- ********************* MOBILE BASE ******************************************** -->
<xacro:if value="${RELAX_MOBILE_BASE}">
    <xacro:property name="prefix" value="" />
    <xacro:include filename="$(find relax_urdf)/urdf/parts/mir_base.urdf.xacro" />  
    <xacro:mir prefix="${prefix}"/>
</xacro:if>

<xacro:unless value="${RELAX_MOBILE_BASE}">
    <link name="base_link">
        <xacro:box_inertial mass="${mir_base_mass}" x="${mir_base_inertial_x_length}" y="${mir_base_inertial_y_length}" z="${mir_base_inertial_z_length}">
            <origin xyz="${mir_base_inertial_x + mir_act_wheel_dx} ${mir_base_inertial_y} ${mir_base_inertial_z}" rpy="0 0 0" />
        </xacro:box_inertial>
        <visual>
            <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="dark_grey"/>
        </visual>
        <collision>
            <origin xyz="${mir_act_wheel_dx} 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://relax_urdf/meshes/mesh_base_revised.stl"  scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="base_link">
        <material>Gazebo/DarkGrey</material>
  </gazebo>
</xacro:unless>  


<!-- ********************* ARM ******************************************** -->
<xacro:if value="${RELAX_ARM}">
    <xacro:include filename="$(find relax_urdf)/urdf/parts/arm.urdf.xacro" />
</xacro:if>


</robot>
