<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="relax">
  
    <xacro:include filename="$(find relax_urdf)/urdf/config/relax_gazebo.urdf.xacro"/>

    <xacro:include filename="$(find relax_urdf)/urdf/gazebo/relax.gazebo.xacro" />
    <xacro:include filename="$(find relax_urdf)/urdf/gazebo/xbot.gazebo.xacro" />
    <xacro:include filename="$(find relax_urdf)/urdf/gazebo/materials.gazebo.xacro" />
    
    <xacro:if value="${RELAX_MOBILE_BASE == 'mir'}">
        <xacro:controller_plugin_gazebo robot_namespace=""/>
    </xacro:if>
    
    <xacro:include filename="$(find relax_urdf)/urdf/parts/relax_core.urdf.xacro" />

</robot>
