<?xml version="1.0"?>
<model>
  <name>IIT RELAX</name>
  <version>1.0</version>
  <sdf version='1.4'>relax.sdf</sdf>

  <author>
   <name>L. Bertoni, A. De Luca and D. Torielli</name>
   <email>alessio.deluca@iit.it</email>
  </author>

  <description>
    Simulation of the relax Humanoid Robot from IIT.
  </description>
</model>
