<launch>

<node pkg="cartesian_interface" type="torque_feedforward_node" name="relax_gcomp">

    <remap from="robot_description" to="xbotcore/robot_description"/>
    <remap from="robot_description_semantic" to="xbotcore/robot_description_semantic"/>
    <param name="is_model_floating_base" value="false"/>
    
</node>

</launch>